/* إعدادات عامة */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background: black;
    overflow: hidden;
}

/* خلفية الماتريكس */
#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* شاشة البداية */
.intro-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.intro-title {
    color: #00ff00;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ff00;
}

/* زر الدخول */
.enter-button {
    padding: 12px 30px;
    font-size: 20px;
    background: transparent;
    border: 2px solid #00ff00;
    color: #00ff00;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0 0 5px #00ff00;
}

.enter-button:hover {
    background: #00ff00;
    color: black;
    box-shadow: 0 0 20px #00ff00;
}
/* صفحة تسجيل الدخول */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 300px;
}

.bloody-title {
    font-size: 45px;
    color: red;
    text-shadow: 0 0 10px red, 0 0 20px darkred;
    margin-bottom: 25px;
}

.login-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-box label {
    color: #00ff00;
    text-align: left;
    font-size: 14px;
}

.login-box input {
    padding: 10px;
    background: black;
    border: 2px solid #00ff00;
    color: #00ff00;
    outline: none;
}

.error-msg {
    color: red;
    margin-top: 10px;
    height: 20px;
}
/* صفحة التحقق */
.verify-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 350px;
}

.verify-title {
    font-size: 32px;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
    margin-bottom: 25px;
}

.verify-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.verify-box label {
    color: #00ff00;
    text-align: left;
    font-size: 14px;
}

.verify-box input {
    padding: 10px;
    background: black;
    border: 2px solid #00ff00;
    color: #00ff00;
    outline: none;
}
/* صفحة المناطق السرّية */
.zone-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 400px;
}

.zone-title {
    font-size: 35px;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
    margin-bottom: 20px;
}

.zone-text {
    color: #00ff00;
    font-size: 18px;
    margin-bottom: 30px;
}

.green {
    color: #00ff00;
    font-weight: bold;
}